.ctn-level {
    width: 50%;
    margin-left: 150px;
    padding-top: 50px;
}

body {
    background-color: #E5E5E5;
}

.ctn-col {
    padding: 5px 30px;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    width: 97px;
    color: black;
    height: 50px;
    box-shadow: 7px 2px 5px -3px rgba(0, 0, 0, 0.56);
    border: none;
}

.ctn-course {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-self: center;
    justify-content: space-between;
}

.ctn-list-course {
    width: 65%;
    background-color: #525464;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.ctn-process-course {
    width: 30%;
    border-radius: 10px;
}

.txt-title {
    font-size: 40px;
    color: white;
}

.ctn-sub-list-course {
    margin-top: 50px;
    height: 80%;
    width: 80%;
}

.item-course {
    background-color: #ED4C5C;
    height: 100px;
    margin-bottom: 10px;
    flex-direction: row;
    display: flex;
}

.item-progressBar {
    width: 70%;
    margin-top: 5px;
    background-color: #C4C4C4;
}

.progress-bar {
    background: linear-gradient(#F27A54, #A154F2);
}

.list-group-item {
    background-color: transparent;
    border: none;
    padding-bottom: 20px;
    color: #CBCFD4;
}

.list-group-item:after {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    display: block;
    content: '';
    opacity: 0.1;
}
.ctn-list-group {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.percent-process {
    color: #F27A54;
    font-weight: bold;
    font-size: 24px;
    transform: translateY(-6px);
}

