.card_container {
    display: flex;
    flex-direction: row;
    background-color: #525464;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card_info {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    color: #FFFFFF;
}

.card_stats {
    width: 30%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
    color: #FFFFFF;
font-weight: bold;

}
.card_title{
    font-size: 18px;
    font-weight: 700;
}
.card_description{
    font-size: 14px;
    font-weight: 400;

}
