.app_navbar {
  position: relative;
  width: 100%;
  padding-left: 3%;
  top: 33%;
  min-height: 72px;
  box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
  background: #FFFFFF;
}

.app_logo {
  font-size: 16px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 122%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: black;
}

.app_icon {
  margin-right: 5px;
  font-size: 1.5em;
}