body {
    background-color: #E5E5E5;
}
.ctn-course {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-self: center;
    justify-content: space-between;
}
.ctn-list-course {
    width: 65%;
    background-color: #525464;
    border-radius: 10px;
    height: auto;
}
.ctn-process-course {
    width: 30%;
    border-radius: 10px;
}
.list-lesson {
    height: 500px;
    overflow-y: scroll;
}
.ctn-sub-list-course {
    margin-top: 30px;
    height: 100%;
    width: 80%;
}

.item-dot {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 30px;
}
.txt-title {
    font-size: 40px;
    color: white;
    margin-bottom: 50px;
}
.item-small-dot{
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 30px;
}
