.header {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.content {
  padding-left: 15%;
  padding-right: 15%;
}

.done-bar {
  background-color: white;
}